/* CSS Externo */

body {
    background: rgba(0, 0, 0, 0.919); /* Cor fundo */
    color: rgb(136, 51, 206); /* Cor Textos */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #e9e9e9;
    text-decoration: none;
}

ul {
    list-style: none; /* Estilo de lista */
}